.list {
	@apply grid gap-x-5 gap-y-8;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	@media (min-width: 1280px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.center {
	@apply flex items-center justify-center;
}

.notFound {
	@apply text-3xl opacity-50;
}

.moreButton {
	@apply mt-8;
}
